# Kafka 설정
KAFKA_BOOTSTRAP_SERVERS=your_kafka_server:9092
KAFKA_TOPIC=your_topic_name
KAFKA_CONSUMER_GROUP=your_consumer_group

# MySQL 설정
MYSQL_HOST=your_mysql_host
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_secure_password
MYSQL_DATABASE=your_database_name
MYSQL_POOL_SIZE=5

# Redis 설정
REDIS_HOST=your_redis_host
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=your_redis_password_if_needed
REDIS_TTL=600

# Spark 설정
SPARK_MASTER=local[*]
SPARK_APP_NAME=anomaly-detection-service

# Prometheus 설정
PROMETHEUS_ENDPOINT=http://your_prometheus_host:9090
